 <footer class="toyota-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-links">
        <ul>
          <li><a href="https://www.toyota.com/support/privacy-notice/">Privacy Policy</a></li> 
          <li><a>|</a></li>
          <li><a href="https://www.toyota.com/support/legal-terms/">Legal Terms</a></li>
          <li><a>|</a></li> 
          <li><a href="https://www.toyota.com/support/site-map/">Location</a></li>
        </ul>
      </div>
      <div class="footer-social">
        <a href="https://www.facebook.com/TOYOTA.Global/" class="social-link" target="_blank"><span class="social-icon">&#xf09a;</span> Facebook</a>
        <a href="https://twitter.com/ToyotaID" class="social-link"><span class="social-icon">&#xf09a;</span>Twitter</a>
        <a href="https://www.instagram.com/toyota/" class="social-link"><span class="social-icon">&#xf09a;</span>Instagram</a>
      </div>
    </div>
    <div class="footer-disclaimer">
      <p>&copy; 2023 Toyota. All rights reserved.</p>
    </div>
  </div>
</footer>