<!-- <footer class="toyota-footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <img class="w-5" src="../../assets/img/toyotaLogo.png" alt="Toyota Logo" />
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">Models</a></li>
            <li><a href="#">Shopping Tools</a></li>
            <li><a href="#">Discover Toyota</a></li>
            <li><a href="#">Find a Dealer</a></li>
          </ul>
        </div>
        <div class="footer-social">
            <a href="https://www.facebook.com/TOYOTA.Global/" class="social-icon"><img class="w-6" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/1024px-2021_Facebook_icon.svg.png" alt="Facebook Logo" /></a>
            <a href="https://twitter.com/ToyotaID" class="social-icon"><img class="w-6" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/512px-Logo_of_Twitter.svg.png" alt="Facebook Logo" /></a>
            <a href="https://www.instagram.com/toyota/" class="social-icon"><img class="w-6" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/2048px-Instagram_logo_2022.svg.png" alt="Facebook Logo" /></a> 
        </div>
      </div>
      <div class="footer-disclaimer">
        <p>&copy; 2023 Toyota. All rights reserved.</p>
      </div>
    </div>
  </footer>
 -->

 <footer class="toyota-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-links">
        <ul>
          <li><a href="https://www.toyota.com/support/privacy-notice/">Privacy Policy</a></li> 
          <li><a>|</a></li>
          <li><a href="https://www.toyota.com/support/legal-terms/">Legal Terms</a></li>
          <li><a>|</a></li> 
          <li><a href="https://www.toyota.com/support/site-map/">Location</a></li>
        </ul>
      </div>
      <div class="footer-social">
        <a href="https://www.facebook.com/TOYOTA.Global/" class="social-link" target="_blank"><span class="social-icon">&#xf09a;</span> Facebook</a>
        <a href="https://twitter.com/ToyotaID" class="social-link"><span class="social-icon">&#xf09a;</span>Twitter</a>
        <a href="https://www.instagram.com/toyota/" class="social-link"><span class="social-icon">&#xf09a;</span>Instagram</a>
      </div>
    </div>
    <div class="footer-disclaimer">
      <p>&copy; 2023 Toyota. All rights reserved.</p>
    </div>
  </div>
</footer>