<nav class="flex justify-between px-6 py-3 bg-transparent hover:bg-white transition-colors duration-500 ease-in-out text-white font-bold font-sans text-lg">
  <div class="flex w-[9rem] justify-between items-start cursor-pointer mix-blend-difference">
    <img class="w-14" src="../../assets/img/Toyota_EU.svg.png" alt="" />
    <a routerLink="/main">TOYOTA</a>
  </div>
  <div class="flex justify-between w-[22rem] items-start cursor-pointer mix-blend-difference">
    <a>Fortuner</a>
    <a>Raize</a>
    <a>Sienta</a>
    <a>Camry</a>
  </div>
  <div class="flex justify-end w-[9rem] items-start mix-blend-difference">
    <a routerLink="/login"><button>Login</button></a>
  </div>
</nav>
