<nav class="flex justify-between px-6 py-3 bg-transparent hover:bg-white transition-colors duration-500 ease-in-out text-white hover:text-black font-bold font-sans text-lg">
  <div class="flex w-[9rem] justify-between items-start cursor-pointer">
    <img class="w-14" src="../../assets/img/toyotaLogo.png" alt="" />
    <a routerLink="/main">TOYOTA</a>
  </div>
  <div class="flex justify-between w-[16rem] items-start cursor-pointer">
    <a>Tipe 1</a>
    <a>Tipe 2</a>
    <a>Tipe 3</a>
  </div>
  <div class="flex justify-end w-[9rem] items-start">
    <a routerLink="/login"><button>Login</button></a>
  </div>
</nav>
