<nav class="flex justify-between px-5 py-3 bg-transparent">
  <div><img class="w-12" src="../../assets/img/toyotaLogo.png" alt="" /></div>
  <div class="md:flex justify-between w-[10rem] hidden">
    <h1>Tipe 1</h1>
    <h1>Tipe 2</h1>
    <h1>Tipe 3</h1>
  </div>
  <div class="flex justify-between w-[15rem]">
    <div>
      <button
        class="bg-slate-400 hover:bg-slate-500 text-white font-semibold py-2 px-3 rounded mr-1 justify-center"
      >
        Sign up
      </button>
      <button
        class="bg-slate-400 hover:bg-slate-500 text-white font-semibold py-2 px-3 rounded"
      >
        Sign up
      </button>
    </div>

    <h1>1</h1>
  </div>
</nav>
