<nav
  class="flex justify-between px-6 py-3 bg-transparent hover:bg-white transition-colors duration-500 ease-in-out text-white font-bold font-sans text-lg"
>
  <div
    class="flex w-[9rem] justify-between items-start cursor-pointer mix-blend-difference"
  >
    <img class="w-14" src="../../assets/img/Toyota_EU.svg.png" alt="" />
    <a routerLink="/main">TOYOTA</a>
  </div>
  <div
    class="flex justify-between w-[22rem] items-start cursor-pointer mix-blend-difference"
  >
    <a (click)="switchVideos(0)">Fortuner</a>
    <a (click)="switchVideos(1)">Raize</a>
    <a (click)="switchVideos(2)">Sienta</a>
    <a (click)="switchVideos(3)">Camry</a>
  </div>
  <div class="flex justify-end w-[9rem] items-start mix-blend-difference">
    <a routerLink="/login"
      ><button class="w-8"><img src="../../assets/img/profile.png" /></button
    ></a>
  </div>
</nav>

<div class="image-container">
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (afterChange)="onSlideChange($event)"
  >
    <div ngxSlickItem *ngFor="let slide of slides; let i = index" class="slide">
      <div class="content-container">
        <video
          loop
          autoplay
          muted
          playsinline
          #video
          (canplay)="video.play()"
          (loadedmetadata)="video.muted = true"
        >
          <source src="{{ slide.video }}" type="video/mp4" />
        </video>
        <div class="spec">
          <div *ngIf="!showMe[i]">
            <h1 class="text-center">{{ slide.model }}</h1>
            <h3>{{ slide.price }}</h3>
          </div>

          <button
            class="hover:animate-none p-2 border-solid border-2 mt-5 animate-pulse rounded-full bg-gray-100 justify-center items-center shadow-md"
            (click)="toggleSpec(i)"
          >
            <img class="w-[2rem]" src="../../assets/img/arrowDown.png" alt="" />
          </button>

          <div
            *ngIf="showMe[i]"
            class="specification text-white p-4 rounded-md"
          >
            <!--jbBakar: 'Diesel',
            capacity: '2393 cc',
            tenaga: '148 hp',
            girboks: '6-Speed',
            jTransmisi: 'Manual', -->
            <div class="flex">
              <div>
                <p class="mb-2">{{ slide.jbBakar }}</p>
                <p class="mb-2">{{ slide.capacity }}</p>
              </div>
              <div class="ml-5">
                <p class="mb-2">{{ slide.tenaga }}</p>
                <p class="mb-2">{{ slide.girboks }}</p>
              </div>
            </div>

            <div>
              <p class="mb-2">{{ slide.jTransmisi }}</p>
            </div>
            <!-- Add more specifications as needed -->
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>

<style>
  p {
    font-size: 20px;
    font-weight: 600;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
  }

  h3 {
    font-size: 35px;
    font-weight: 500;
  }

  .slide .content-container {
    position: relative;
  }

  .slide video {
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: cover;
  }

  .spec {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }

  .specification {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .specification p {
    margin: 5px 0;
    color: white;
  }

  .image-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -999;
  }
</style>
